{% extends 'layout.html' %}
{% block body %}
<div class="row">
<h3 class='text-center text-muted mb-3'></h3>
<p class="text-right"><a href="{{url_for('add_user')}}" class="btn btn-success">+Novo Cliente</a></p>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Idade</th>
        <th scope="col">Cidade</th>
        <th scope="col">CPF</th>
      </tr>
    </thead>
    <tbody>
        {% for row in datas %}
      <tr>
         <td>{{ loop.index }}</td>
         <td>{{ row[1] }}</td>  <!-- Assuming NOME is the second column -->
         <td>{{ row[2] }}</td>  <!-- Assuming EMAIL is the third column -->
         <td>{{ row[3] }}</td>  <!-- Assuming IDADE is the fourth column -->
         <td>{{ row[4] }}</td>  <!-- Assuming CIDADE is the fifth column -->
         <td>{{ row[5] }}</td>  <!-- Assuming CPF is the sixth column -->
         <td><a href="{{ url_for('edit_user', id=row[0]) }}" class="btn btn-primary">Editar</a></td>
         <td><a href="{{ url_for('delete_user', id=row[0]) }}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja apagar?')">Deletar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}